<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incredible India</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <nav>
        <div class="wrapper">
            <ul>
                <a href="/"><button class="button button1">Home</button></a>
                <a href="/thingstodo"><button class="button button1">Things to do</button></a>
                <a href="/about"><button class="button button1">About</button></a>
                <a href="/contacts"><button class="button button1">Contact us</button></a>
                <h1 class="logo">Incredible India <img src="../static/images/logo.jpg" width="50px"   alt=""></h1>
               <!-- <li><a href="">Home</a></li>
                <li><a href="">Things to do</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact us</a></li>-->
            </ul>
        </div>
    </nav>
    <div class="wrapper">
        <h1 class="heading" style="text-align: center;">About India</h1><br><br><br>

        <p class="info" style="text-align: center;"> 
         India is a mosaic of multicultural experiences.One of the oldest civilisations in the world, with a rich heritage and myriad attractions.
        </p>
    </div>
    <div style="display: inline-flex; padding-top: 40px; padding-bottom: 40px;">
        <img src="../static/images/Mumbaiabout.jpg" width="50%" alt="" style="padding: 20px;">
        <img src="../static/images/Keralaabout.jpg" width="50%" height="540px" alt="" style="padding: 20px;">
    </div>
    <br><br><br>
    <div class="wrapper">
        <h2 style="color: #231F20; text-align: center; font-size: 2rem;" >Essence of India</h2><br><br><br>
        <p class="info" style="text-align: center;">  As you travel the expanse of the country, you are greeted by diverse nuances of cuisines, faiths, arts, crafts, music, nature, lands, tribes, history and adventure sports. India has a mesmeric conflation of the old and the new. As the bustling old bazaars rub shoulders with swanky shopping malls, and majestic monuments accompany luxurious heritage hotels, the quintessential traveller can get the best of both worlds. Head to the mountains, enjoy a beach retreat or cruise through the golden Thar, India has options galore for all.</p>
        <img src="../static/images/essence.jpg" style="padding-left: 200px; padding-top: 2rem; padding-bottom: 2rem ;" alt=""><br><br><br>
        <h2 style="color: #231F20; font-size: 2rem; text-align: center;">History of India</h2><br><br><br>
        <p class="info" style="text-align: center;">INDIA IS A LAND of ancient civilization, with cities and villages, cultivated fields, and great works of art dating back 4,000 years.</p>
        <p class="info" style="text-align: center;">In theMahabharata and the Ramayana , early epics that reflect life in India before 1000 B.C. and 500 B.C., respectively, the forest begins at the edge of the city, and the heroes regularly spend periods of exile wandering far from civilization before returning to rid the world of evil.</p>
        <p class="info" style="text-align: center;">India had its share of conquerors who moved in from the northwest and overran the north or central parts of the country. These migrations began with the Aryan peoples of the second millennium B.C. and culminated in the unification of the entire country for the first time in the seventeenth century under the Mughals.</p>
        <br><br><br>
        <div style="padding-top: 2rem;"><img src="../static/images/history1.jpg" style="padding-inline: 140px;"  alt=""><img src="../static/images/history2.jpg" alt=""></div><br><div style="padding-bottom: 2rem;"><img src="../static/images/history3.jpg"  style="padding-inline: 140px;"alt=""><img src="../static/images/history4.jpg" alt=""></div>
        <br><br><br>
        <h2 style="color: #231F20; font-size: 2rem; text-align: center;">Geography</h2><br><br><br>
        <p class="info" style="text-align: center;">It covers an area of 32, 87,263 sq. km, extending from the snow-covered Himalayan heights to the tropical rain forests of the south. As the 7th largest country in the world, India stands apart from the rest of Asia, marked off as it is by mountains and the sea, which give the country a distinct geographical entity.
                Fringed by the Great Himalayas in the north, it stretches southwards and at the Tropic of Cancer, tapers off into the Indian Ocean between the Bay of Bengal on the east and the Arabian Sea on the west.
        </p><br><br><br>
        <img src="../static/images/geo3.jpg" style="padding: 2rem;" alt=""><img src="../static/images/geo2.jpg" style="display: block; margin-left: auto; margin-right: auto; padding: 2rem;" alt=""><img src="../static/images/geo1.jpg" style="display: block; margin-left: auto; margin-right: auto; padding: 2rem;" alt="">
    </div>
    <br><br><br><hr>
    <footer>
        <div class="footer-header-container">
            
            <div class="footer-heading">
                <h2>Follow</h2>
                <a href="">Facebook</a>
                <a href="">Twitter</a>
                <a href="">Instagram</a>
                <a href="">Youtube</a>
            </div>
            <div class="footer-heading 2">
                <h2>Information</h2>
                <a href="">Terms and Conditions</a>
                <a href="">Privacy Notice</a>
                <a href="">Indian Tourism</a>
                <a href="">Cookie Policy</a>
                <a href="">Cookie Setting</a>
            </div>
            <div class="footer-heading 3">
                <h2>Contact Us</h2>
                <a href="/contacts">Contacts</a>
            </div>
            <div class="footer-email-form">
                <h2>Join us</h2>
                <input type="email" placeholder="Enter your email address"    name="" id="footer-email">
                <input type="submit" value="Sign Up" id="footer-email-btn">
            </div>
        </div>
    </footer>
    <br><br>
</body>
</html>