<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incredible India</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <nav>
        <div class="wrapper">
            <ul>
                <a href="/"><button class="button button1">Home</button></a>
                <a href="/thingstodo"><button class="button button1">Things to do</button></a>
                <a href="/about"><button class="button button1">About</button></a>
                <a href="/contacts"><button class="button button1">Contact us</button></a>
                <h1 class="logo">Incredible India <img src="../static/images/logo.jpg" width="50px"   alt=""></h1>
               <!-- <li><a href="">Home</a></li>
                <li><a href="">Things to do</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact us</a></li>-->
            </ul>
        </div>
    </nav>
    <div class="wrapper">
        <h1 class="heading" style="text-align: center;">Contact Us</h1><br><br><br>
        <p class="info" style="text-align: center;">Thank you for visiting us!</p>
        <p class="info" style="text-align: center;">If you have any inquiries or feedback, please contact us by completing the below form.</p>
        <br><br><br>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">First Name</span>
                    <input type="text" placeholder="First Name" required>
                </div>
                <div class="input-box">
                    <span class="details">Surname</span>
                    <input type="text" placeholder="Surname" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Email" required>
                </div>
                <div class="input-box">
                    <span class="details">country</span>
                    <input type="text" placeholder="country" required>
                </div>
                <div class="input-box">
                    <span class="details">Subject</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">Message</span>
                    <input type="text" placeholder="Message" required>
                </div>
                <div class="button" style="height: 45px;margin: 45px 0;">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>    
    </div>
    <br><br><br><hr>
    <footer>
        <div class="footer-header-container">
            
            <div class="footer-heading">
                <h2>Follow</h2>
                <a href="">Facebook</a>
                <a href="">Twitter</a>
                <a href="">Instagram</a>
                <a href="">Youtube</a>
            </div>
            <div class="footer-heading 2">
                <h2>Information</h2>
                <a href="">Terms and Conditions</a>
                <a href="">Privacy Notice</a>
                <a href="">Indian Tourism</a>
                <a href="">Cookie Policy</a>
                <a href="">Cookie Setting</a>
            </div>
            <div class="footer-heading 3">
                <h2>Contact Us</h2>
                <a href="/contacts">Contacts</a>
            </div>
            <div class="footer-email-form">
                <h2>Join us</h2>
                <input type="email" placeholder="Enter your email address"    name="" id="footer-email">
                <input type="submit" value="Sign Up" id="footer-email-btn">
            </div>
        </div>
    </footer>
    <br><br>
</body>
</html>