<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incredible India</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>
<body>
    
    <nav>
        <div class="wrapper">
            <a href="/"><button class="button button1">Home</button></a>
            <a href="/thingstodo"><button class="button button1">Things to do</button></a>
            <a href="/about"><button class="button button1">About</button></a>
            <a href="/contacts"><button class="button button1">Contact us</button></a>
            <h1 class="logo">Incredible India <img src="../static/images/logo.jpg" width="50px"   alt=""></h1>
            <!-- ul
            <li><a href="">Home</a></li>
            <li><a href="">Things to do</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact us</a></li>-->
        </div>    
    </nav>

   <img class="homepgimg" src="../static/images/2-incredible-india.jpg" alt="">
    <div class="wrapper">
        <h1 class="heading">INDIA Welcomes You!</h1><br><br>
        <box>
            Indian tourism may is currently affected by Covid. Only Indian Nationals are currently allowed!
        </box>
        <br><br><br>
        <p class="info" style="text-align: center;">Everywhere you turn in India, there is something to do or to see that you probably have never done or seen before. There are experiences to be had — whether fascinating or shocking or rewarding or confusing or educational or frustrating — all day long, no matter where you happen to be.</p>
        
    </div>
    <br><br><br><hr>
    <footer>
        <div class="footer-header-container">
            
            <div class="footer-heading">
                <h2>Follow</h2>
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
                <a href="#">Instagram</a>
                <a href="#">Youtube</a>
            </div>
            <div class="footer-heading 2">
                <h2>Information</h2>
                <a href="#">Terms and Conditions</a>
                <a href="#">Privacy Notice</a>
                <a href="#">Indian Tourism</a>
                <a href="#">Cookie Policy</a>
                <a href="#">Cookie Setting</a>
            </div>
            <div class="footer-heading 3">
                <h2>Contact Us</h2>
                <a href="/contacts">Contacts</a>
            </div>
            <div class="footer-email-form">
                <h2>Join us</h2>
                <input type="email" placeholder="Enter your email address"    name="" id="footer-email">
                <input type="submit" value="Sign Up" id="footer-email-btn">
            </div>
        </div>
    </footer>
    <br><br>


</body>
</html>