<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incredible India</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <nav>
        <div class="wrapper">
            <ul>
                <a href="/"><button class="button button1">Home</button></a>
                <a href="/thingstodo"><button class="button button1">Things to do</button></a>
                <a href="/about"><button class="button button1">About</button></a>
                <a href="/contacts"><button class="button button1">Contact us</button></a>
                <h1 class="logo">Incredible India <img src="../static/images/logo.jpg" width="50px"   alt=""></h1>
               <!-- <li><a href="">Home</a></li>
                <li><a href="">Things to do</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact us</a></li>-->
            </ul>
        </div>
    </nav>
    <div class="wrapper">
        <h1 class="heading">Popular in India</h1><br><br>
        <div class="infotabcontainer" >
            <div class="infotab" style="display: inline;">
                <img src="../static/images/Sou.jpg" style="float: left;padding-top: 50px;" alt="">
                <div class="info 1" style="padding-left: 350px;">
                    <h2 style="color: #231F20;">Statue of unity</h2><br> 
                    <p> The statue is located in the state of Gujarat, India. It is the world's tallest statue with a height of 182 metres (597 feet). It is located on the Narmada River in the Kevadiya colony, facing the Sardar Sarovar Dam 100 kilometres (62 mi) southeast of the city of Vadodara and 150 kilometres (93 mi) from Surat. Kevadia railway station is located at a distance of just 5 kilometres from Statue of Unity.</p>
                </div>
            </div>
            <div class="infotab" style="display: inline-flex; padding-top: 50px;">
                <div class="info 2" style="float: left; margin-right: 100px;" >
                    <h2 style="color: #231F20;">Beaches</h2><br> 
                    <p> India's shorelines are endowed with a glorious beauty that is reflected in its undulating golden beaches that make for an ideal vantage point to watch the sun dipping into the sea. Beaches stroke both the eastern and western coasts of the Indian peninsula. They also act as sentinels of the rich cultural heritage of India and host many temples, memorials and monuments.</p>
                </div>
                <img src="../static/images/beaches.jpg" style=" float:right; padding-top: 50px;" alt="">
                
            </div>
            <div class="infotab" style="display: inline-flex;">
                <img src="../static/images/art and culture2.jpg" style="float: left;" alt="">
                <div class="info 1" style="padding-left: 100px;">
                    <h2 style="color: #231F20;">Art and Culture</h2><br> 
                    <p> A country as diverse as India is symbolized by the plurality of its culture.India has one of the world’s largest collections of songs, music, dance, theatre, folk traditions, performing arts, rites and rituals, paintings and writings that are known, as the ‘Intangible Cultural Heritage’ (ICH) of humanity.</p>
                </div>
            </div>
        </div>
        
    </div>
    <br><br><br><hr>
    <footer>
        <div class="footer-header-container">
            
            <div class="footer-heading">
                <h2>Follow</h2>
                <a href="">Facebook</a>
                <a href="">Twitter</a>
                <a href="">Instagram</a>
                <a href="">Youtube</a>
            </div>
            <div class="footer-heading 2">
                <h2>Information</h2>
                <a href="">Terms and Conditions</a>
                <a href="">Privacy Notice</a>
                <a href="">Indian Tourism</a>
                <a href="">Cookie Policy</a>
                <a href="">Cookie Setting</a>
            </div>
            <div class="footer-heading 3">
                <h2>Contact Us</h2>
                <a href="/contacts">Contacts</a>
            </div>
            <div class="footer-email-form">
                <h2>Join us</h2>
                <input type="email" placeholder="Enter your email address"    name="" id="footer-email">
                <input type="submit" value="Sign Up" id="footer-email-btn">
            </div>
        </div>
    </footer>
    <br><br>
</body>
</html>